@page
@model IndexModel
@{
    ViewData["Title"] = "My First ASP.NET Core App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My First App!</h1>
    <p>Hello, ASP.NET Core! The current time is: @DateTime.Now.ToString("F")</p>
    
    <div class="alert alert-info mt-4">
        <h4>Quick Facts:</h4>
        <ul class="text-start">
            <li>This app is running on @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</li>
            <li>Operating System: @System.Runtime.InteropServices.RuntimeInformation.OSDescription</li>
            <li>Your name is: @Model.UserName</li>
        </ul>
    </div>
</div>
